<div class="contents">
  <div class="headline-area">
    <h2>Sign in</h2>
  </div>
  <div class="page-box">
    <a routerLink="/register" class="align-center">Need an account?</a>
    <div class="column">
      <label><b>Email</b></label>
      <input class="el-input" type="text" placeholder="Enter email">
    </div>
    <div class="column">
      <label><b>Password</b></label>
      <input class="el-input" type="text" placeholder="Enter password">
    </div>
    <div class="column align-center">
      <button onclick="" type="button" class="button el-button">Sign In</button>
    </div>
  </div>
</div>